* {
  box-sizing: border-box;
  /* background-color: #f1f0ec; */
  /* color: #28282d; */
}

/* Utilities */
:root {
  --primary: #86a1a9;
  --secondary: #e08bbb;
  --tertiary: #d37f3f;
  --quaternary: #6667ab;
  --quinary: #28282d;
  --senary: #f1f0ec;
}

body {
  background: var(--senary);
  margin: 0;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
}

.center {
  margin: auto;
}

.btn {
  background-color: var(--tertiary);
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Header */
#logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

#casset-tape img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 300px;
  padding: 1rem;
}

/* styles to sections */
.playDelete {
  background-color: var(--quinary);
}

.Search1 {
  background-color: var(--secondary);
  list-style-type: none;
}

.Search2 {
  background-color: var(--primary);
  list-style-type: none;
}

.Search3 {
  background-color: var(--tertiary);
  list-style-type: none;
}

.Search4 {
  background-color: var(--quaternary);
  list-style-type: none;
}

/* styles to sections */
.list-title {
  font-size: 2.6rem;
  text-align: center;
  margin: 5px;
  color: var(--quaternary);
}

.task-item {
  padding: 15px 15px;
  border: 2px solid grey;
  background-color: var(--senary);
  border-radius: 12px;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
}

.task-info {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
}

.task-name {
  margin: 0;
  font-size: 1.8rem;
  padding: 15px;
}

.spotifyLogo {
  height: 40px;
}
.alone {
  width: 100%;
}

/* Email*/
.task-list-wrapper {
  background-color: #86a1a9;
  flex: 1;
  margin: 0 20px 20px;
}

.task-list {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: var(--primary);
  border: none;
}

/*Clipboard*/
.clipboard {
  border: 0;
  padding: 15px;
  border-radius: 3px;
  background-image: var(--senary);
  cursor: pointer;
  color: #04048c;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.facebook {
  height: 50px;
  width: 80px;
}

/* Adapt to screen size */
@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }
}
